body{
  background-image: url(../../images/bg.jpg);
  background-size:cover;
  font-family: 'Source Sans Pro', sans-serif;
}
#wrapper{
  max-width:68rem;
  margin:0 auto;
}
#header{
  text-align: center;
  padding-top:2rem;
  padding-bottom: 6rem;
}
#header .avatar {
  border-radius: 100%;
  display:inline-block;
  padding:0.5rem;
  background-color: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.25);
  margin: 2rem 0;
}
#header .avatar img{
  border-radius: 100%;
  display:block;
}
#header h1{
  font-size:1.8rem;
  color:rgba(255,255,255);
  font-weight: 200;
  margin-bottom: 1.5rem;
  line-height: 2.3rem;
}
#header h1 strong{
  color:white;
  font-weight: 200;
}
#header h1 a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  border-bottom:1px dotted rgba(255,255,255,0.5);
}
#header ul.icons li{
  display: inline-block;
  border-radius: 100%;
  border:1px solid rgba(255,255,255,0.25);
  background-color: rgba(255,255,255,0.05);
  width:3rem;
  height:3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right:1rem;
}
#header ul.icons li:hover{
  border:1px solid rgba(255,255,255,0.25);
  background-color: rgba(255,255,255,0.2);
}
#header ul.icons li a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
}
#header ul.icons li a:before{
  font-size:1.5rem;
}
#header ul.icons li .label{
  display: none;
}
#main .thumbnails {
  display: flex;
}
#main .thumbnails>div{
  flex-grow: 1;
  margin-right:1rem;
  margin-left:1rem;
}
#main .thumbnails a{
  margin-bottom: 1.5rem;
  display: block;
}
#main .thumbnails img{
  width:100%;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  display: block;
}
#main .thumbnails h3{
  border-left:1px solid rgba(255,255,255,0.3);
  border-right:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(255,255,255,0.3);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding:1rem;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  color:white;
  font-size:0.8rem;
  font-weight: 200;
}
#footer{
  text-align: center;
  color:rgba(255,255,255,0.5);
  font-weight: 200;
  padding-bottom: 3rem;
  font-size:0.8rem;
}
#footer a{
  color:rgba(255,255,255,0.5);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}
#footer:before{
  content:'';
  display: block;
  margin:2rem auto;
  width:10rem;
  border-top:1px solid rgba(255,255,255,0.2);
  margin-bottom:3rem;
}
@media(max-width:480px){
  #main .thumbnails {
    display: block;
  }
}

/*
	버튼 구문
*/

.dropbtn {
  background-color: #ea2129;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  right: 0.5px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
